@model usersModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/jquery/jquery-1.11.1.js"></script>
    <script src="~/jquery/vue.js"></script>
    <script src="~/jquery/jquery.validate.js"></script>
    <script src="~/jquery/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
        <div id="div1">
            <form>
                    <table cellspacing=0 cellpadding=0 width=900 align=center border=0>
                        <tbody>
                            <tr>
                                <td style="height: 105px">
                                    <img src="~/images/login_11.gif" border=0>
                                </td>
                            </tr>
                            <tr>
                                <td background=~/images/login_22.jpg height=300>
                                    <table height=300 cellpadding=0 width=900 border=0>
                                        <tbody>
                                            <tr>
                                                <td colspan=2 height=35></td>
                                            </tr>
                                            <tr>
                                                <td width=360></td>
                                                <td>
                                                    <table cellspacing=0 cellpadding=2 border=0>
                                                        <tbody>
                                                            <tr>
                                                                <td style="height: 28px" width=80>
                                                                    登 录 名：
                                                                </td>
                                                                <td style="height: 28px">
                                                                    @*<input id="userName" style="width: 130px" name="userName" />*@
                                                                    <input asp-for="@Model.User_name" id="name" />
                                                                    <span asp-validation-for="@Model.User_name"></span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="height: 28px">
                                                                    登录密码：
                                                                </td>
                                                                <td style="height: 28px">
                                                                    @*<input id="userPassword" style="width: 130px" type="password" name="userPassword" />*@
                                                                    <input asp-for="@Model.User_password" type="password" style="width: 130px" id="password"  />
                                                                    <span asp-validation-for="@Model.User_password"></span>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="height: 18px"></td>
                                                                <td style="height: 18px"></td>
                                                                <td style="height: 18px"></td>
                                                            </tr>
                                                            <tr>

                                                                <td>
                                                                    <input id="Submit1" type="submit" value="登录" style="cursor: pointer;" onclick="a()" />

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/images/login_33.jpg" border=0>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#div1",
        data: {

        },
        methods: {
            Login: function () {
                $.ajax({
                    url: "http://localhost:5000/api/Login",
                    type: "get",
                    data: "name=" + $("#name").val() + "&password=" + $("#password").val(),
                    success: function (zhi) {
                        console.info(zhi);
                        if (zhi > 0) {
                            alert("登陆成功");
                        }
                        else {
                            alert("登陆失败");
                        }
                    }
                });
            }
        },
        mounted: function () {
            
        }

    })
</script>